<%= form_for(@story) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nounOne %><br>
    <%= f.text_field :nounOne %>
  </div>
  <div class="field">
    <%= f.label :nounTwo %><br>
    <%= f.text_field :nounTwo %>
  </div>
  <div class="field">
    <%= f.label :nounThree %><br>
    <%= f.text_field :nounThree %>
  </div>
  <div class="field">
    <%= f.label :nounFour %><br>
    <%= f.text_field :nounFour %>
  </div>
  <div class="field">
    <%= f.label :verbOne %><br>
    <%= f.text_field :verbOne %>
  </div>
  <div class="field">
    <%= f.label :verbTwo %><br>
    <%= f.text_field :verbTwo %>
  </div>
  <div class="field">
    <%= f.label :verbThree %><br>
    <%= f.text_field :verbThree %>
  </div>
  <div class="field">
    <%= f.label :verbFour %><br>
    <%= f.text_field :verbFour %>
  </div>
  <div class="field">
    <%= f.label :verbFive %><br>
    <%= f.text_field :verbFive %>
  </div>
  <div class="field">
    <%= f.label :adjectiveOne %><br>
    <%= f.text_field :adjectiveOne %>
  </div>
  <div class="field">
    <%= f.label :adjectiveTwo %><br>
    <%= f.text_field :adjectiveTwo %>
  </div>
  <div class="field">
    <%= f.label :adjectiveThree %><br>
    <%= f.text_field :adjectiveThree %>
  </div>
  <div class="field">
    <%= f.label :adverbOne %><br>
    <%= f.text_field :adverbOne %>
  </div>
  <div class="field">
    <%= f.label :adverbTwo %><br>
    <%= f.text_field :adverbTwo %>
  </div>
  <div class="field">
    <%= f.label :adverbThree %><br>
    <%= f.text_field :adverbThree %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
