<p id="notice"><%= notice %></p>

<h1>Listing Stories</h1>

<table>
  <thead>
    <tr>
      <th>Nounone</th>
      <th>Nountwo</th>
      <th>Nounthree</th>
      <th>Nounfour</th>
      <th>Verbone</th>
      <th>Verbtwo</th>
      <th>Verbthree</th>
      <th>Verbfour</th>
      <th>Verbfive</th>
      <th>Adjectiveone</th>
      <th>Adjectivetwo</th>
      <th>Adjectivethree</th>
      <th>Adverbone</th>
      <th>Adverbtwo</th>
      <th>Adverbthree</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td><%= story.nounOne %></td>
        <td><%= story.nounTwo %></td>
        <td><%= story.nounThree %></td>
        <td><%= story.nounFour %></td>
        <td><%= story.verbOne %></td>
        <td><%= story.verbTwo %></td>
        <td><%= story.verbThree %></td>
        <td><%= story.verbFour %></td>
        <td><%= story.verbFive %></td>
        <td><%= story.adjectiveOne %></td>
        <td><%= story.adjectiveTwo %></td>
        <td><%= story.adjectiveThree %></td>
        <td><%= story.adverbOne %></td>
        <td><%= story.adverbTwo %></td>
        <td><%= story.adverbThree %></td>
        <td><%= link_to 'Show', story %></td>
        <td><%= link_to 'Edit', edit_story_path(story) %></td>
        <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Story', new_story_path %>
