<p id="notice"><%= notice %></p>

<p>
  <strong>Nounone:</strong>
  <%= @story.nounOne %>
</p>

<p>
  <strong>Nountwo:</strong>
  <%= @story.nounTwo %>
</p>

<p>
  <strong>Nounthree:</strong>
  <%= @story.nounThree %>
</p>

<p>
  <strong>Nounfour:</strong>
  <%= @story.nounFour %>
</p>

<p>
  <strong>Verbone:</strong>
  <%= @story.verbOne %>
</p>

<p>
  <strong>Verbtwo:</strong>
  <%= @story.verbTwo %>
</p>

<p>
  <strong>Verbthree:</strong>
  <%= @story.verbThree %>
</p>

<p>
  <strong>Verbfour:</strong>
  <%= @story.verbFour %>
</p>

<p>
  <strong>Verbfive:</strong>
  <%= @story.verbFive %>
</p>

<p>
  <strong>Adjectiveone:</strong>
  <%= @story.adjectiveOne %>
</p>

<p>
  <strong>Adjectivetwo:</strong>
  <%= @story.adjectiveTwo %>
</p>

<p>
  <strong>Adjectivethree:</strong>
  <%= @story.adjectiveThree %>
</p>

<p>
  <strong>Adverbone:</strong>
  <%= @story.adverbOne %>
</p>

<p>
  <strong>Adverbtwo:</strong>
  <%= @story.adverbTwo %>
</p>

<p>
  <strong>Adverbthree:</strong>
  <%= @story.adverbThree %>
</p>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
